
{% load static %}

<html>
    <head>
        <title>#Art</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="{% static 'css/art.css' %}">
    </head>
    <body>

<div class="page-header">
  <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus-sign"></span</a>

    <h1><a href="/">#Art</a></h1>

</div>
<div class="topnav">

      <!--<h5>  Hello {{ User.username }},</h5>-->
      <a href="{% url 'hashtag_list' %}">HOME</a>

      <a href="{% url 'post_new' %}">CREATE NEW POST</a>
      <a href="{% url 'my_post' %}">MY POSTS</a>
      <a href="art">ART</a>
      <a href="tech">TECHNOLOGY</a>
      <a href="wildlife">WILDLIFE</a>
      <a href="mood">MOOD</a>
      <a href="fashion">FASHION</a>
      <a href="food">FOOD</a>


      <div class="text-align: right"><a href="{% url 'my_post' %}">LOGOUT</a></div>
    </div>

          {% for post in posts %}
              <div class="container">

                <div class="content" >
                  <h2><a>{{ post.title }}</a></h2>
                <h6>  Written by: {{ post.user }} </<h6>
                  <p>Hashtags: {{ post.hname|linebreaksbr }}</p>
                  <img src="{{ post.image.url }}" width="500px"/>
                  <p>{{ post.text|linebreaksbr }}</p>
                  <br>
                  <p>{{ post.date|linebreaksbr }}</p>


                    </div>
                    <br>
              </div>
              <br>
          {% endfor %}
    </body>
</html>
