<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>VOICE BOX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/menu.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/statistic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/list.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/grid.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/card.min.css">
    <link rel="icon" href="{% static "home/ssricon.png" %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "home/home.css" %}">

    <style type="text/css">

 @import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Unna');

        #viewblogs {
  position: relative;
  margin-top: -45%;
  border-radius: 1px;
  font-weight: bold;
  height: 55px;
  width: 140px;
  /* transform: scaleX(-1); */
}

</style>
</head>

<body style="background: url('/media/images/VOICE_BOX.png')">
    <br>
    <br>
   <br>
<br>
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
     <button type="button" onclick="window.location.href='register'" class="btn btn-outline-dark btn-lg">REGISTER</button>


<button type="button" onclick="window.location.href='login'" class="btn btn-outline-dark btn-lg">LOGIN</button>
     </center>

</body>
